{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}
    {{ include ('layout/partials/_title_section.html.twig', { name: 'mon panier' }) }}

    <section class="h-100">
        <div class="container">
            <div class="row d-flex justify-content-center my-4">
                <!-- Récapitulatif des articles commandés -->
                {% if cart %}
                    <div class="col-md-8">
                        <div class="card mb-4">
                            <div class="card-header py-3">
                                <h5 class="mb-0 text-primary">Récapitulatif de ma commande</h5>
                            </div>
                            <!-- Boucle article du panier -->
                            {% for product in cart %}
                                <div class="card-body">
                                    <!-- Carte article -->
                                    <div class="row">
                                        <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                                            <!-- Image -->
                                            <div class="rounded">
                                                {# Todo : Faire le bon lien avec l'image #}
                                                <img src="https://api.lorem.space/image?w=150&h=180" class="img-fluid d-block" alt="img">
                                            </div>
                                            <!-- Image -->
                                        </div>
                                        <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                                            <!-- Data -->
                                            <p class="h6 text-uppercase text-muted"><strong>{{ product.product.name }}</strong></p>
                                            <p class="lh-sm">
                                                <strong class="d-inline-block mb-1">Description: </strong><br>
                                                {{ product.product.description }}
                                            </p>
                                            <!-- Afficher le montant de la remise du produit si il y en a une -->
                                            {% if product.product.discount is not null %}
                                                <p class="lh-sm">
                                                    <strong class="d-inline-block mb-1 text-danger">Prix soldé: </strong><br>
                                                    {# Afficher le prix unitaire avec la remise en pourcentage déduite #}
                                                    <span id="unit-price-{{ product.product.id }}">{{ ((product.product.price - (product.product.price * product.product.discount / 100)) / 100) | number_format(2) }}</span> €
                                                </p>
                                            {% else %}
                                                <p class="lh-sm">
                                                    <strong class="d-inline-block mb-1">Prix unitaire: </strong><br>
                                                    <span id="unit-price-{{ product.product.id }}">{{ (product.product.price / 100) | number_format(2) }}</span> €
                                                </p>
                                            {% endif %}
                                            <!-- Todo: Supprimer l'article -->
                                            <a class="btn btn-danger btn-sm"
                                               href="{{ path('delete_all_from_cart', {'id': product.product.id}) }}" >
                                                <i class="bi bi-trash-fill"></i>
                                            </a>
                                            {# TODO: Bouton d'ajout à la liste de souhait
                                             <button type="button" class="btn btn-success btn-sm mb-2" data-mdb-toggle="tooltip"
                                             title="Ajouter à la liste de souhait" alt="">
                                             <i class="bi bi-heart-fill"></i>
                                            </button>
                                            #}
                                            <!-- Data -->
                                        </div>
                                        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                                        <!-- Quantité(s) -->
                                        <div class="d-flex mb-4" style="max-width: 300px">
                                            <a class="btn btn-danger px-2 me-2" href="{{ path('decrease_from_cart', {id: product.product.id}) }}">
                                                <i class="bi bi-dash-lg"></i>
                                            </a>
                                            <div class="form-group">
                                                <input id="form-quantity-{{ loop.index }}" min="0" name="quantity" value="{{ product.quantity }}" type="number" class="form-control text-center" />
                                                <label class="form-label d-none" for="form-quantity-{{ loop.index }}">Quantité</label>
                                            </div>
                                            <a class="btn btn-success px-2 ms-2" href="{{ path('add_to_cart', {id: product.product.id}) }}"><i class="bi bi-plus-lg"></i></a>
                                        </div>
                                        <!-- Quantité(s) -->
                                    </div>
                                </div>
                                    <!-- Prix de l'article -->
                                    <div>
                                        <p class="text-start text-md-center h5">
                                            {# Todo : JS Prendre la valeur unitaire et la multiplier par la quantité #}
                                            <span class="text-secondary" id="total-price-{{ product.product.id }}"></span>
                                        </p>
                                    </div>
                                    <!-- Prix de l'article -->
                                    <!-- Carte article -->
                                    {% if not loop.last%}
                                        <hr class="my-4" />
                                    {% endif %}
                                    <!-- Ici se trouve les autres carte articles ajoutés au panier -->
                                </div>
                            {% endfor %}
                            <!-- Boucle article du panier -->
                        </div>

                        <!-- Carte Livraison -->
                        {% include('cart/carrer.html.twig') %}
                        <!-- Fin Carte Livraison -->

                    </div>

                    <!-- Côté Droit - Partie Récap de paiement -->
                    <div class="col-md-4">
                        <!--  Coupon de réduction -->
                        {% include('cart/coupon.html.twig') %}
                        <!--  Coupon de réduction -->

                        <!--  Partie Récap de la commande -->
                        {% include('cart/resume.html.twig') %}
                        <!--  Partie Récap de la commande -->
                    </div>
                    <!-- Côté Droit -->

                </div>
            {% else %}
                <div class="alert alert-info">
                    <p class="lead">Votre panier est vide</p>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}

{# Mise à jour de #total-price-x en fonction de unit-price-x et la quantité de produit #}
{% block javascripts %}
    {{ parent() }}
    <script>
    {# Récuperer le panier #}
    const cart = JSON.parse('{{ cart | json_encode | raw }}');
    {# Récuperer le panier #}

    Object.values(cart).forEach((product) => {
        {# Récuperer le prix unitaire produit dans la carte et calculer la remise #}
        const unitPrice = product.price / 100;
        const quantity = product.quantity
        const discount = product.discount
        const totalPrice = (unitPrice * quantity) - ((unitPrice * quantity) * discount / 100)
        const totalPriceElement = document.querySelector(`#total-price-${product.productId}`)

        totalPriceElement.textContent = totalPrice.toFixed(2) + '€'
    });
    </script>
{% endblock %}
