<div class="container-fluid text-light bg-primary pt-2 pb-2 mt-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="heading_s1 mb-md-0 heading_light">
                    <h3>Abonnez-vous à notre newsletter</h3>
                </div>
            </div>
            <div class="col-md-6">
                <form>
                    <div class="d-flex justify-content-between">
                        <input type="text" required="" class="form-control rounded-0" placeholder="Entrez votre adresse e-mail">
                        <button type="submit" class="btn btn-dark rounded-0 px-2 w-25" name="submit" value="Submit">S'inscrire</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="pt-5 pb-4 py-0">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="">
                        <div class="footer_logo">
{#                            <a href="#"><img src="#" alt="logo"/></a>#}
                        </div>
                        <p>
                            En exclusivité pour tous ! Profitez de jusqu'à -50% sur ces offres pendant nos
                            journées spéciales.
                            Faites des achats avec des remises sur l'électronique, les téléphones et les
                            articles pour la maison.
                            Jusqu'à -50% sur tous les articles.
                            Livraison gratuite.
                            Promotion d'été.
                        </p>
                    </div>
                    <div class="">
                        <ul class="list-group list-group-horizontal">
                            <li class="list-group-item bg-primary"><a href="#"><i class="bi bi-facebook"></i></a></li>
                            <li class="list-group-item bg-primary"><a href="#"><i class="bi bi-twitter"></i></a></li>
                            <li class="list-group-item bg-primary"><a href="#"><i class="bi bi-google"></i></a></li>
                            <li class="list-group-item bg-primary"><a href="#"><i class="bi bi-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="text-capitalize">
                        <h6 class="text-info">Liens utiles</h6>
                        <ul class="">
                            <li class="pb-1"><a class="text-decoration-none" href="#">À propos de moi</a></li>
                            <li class="pb-1"><a class="text-decoration-none" href="#">FAQ</a></li>
                            <li class="pb-1"><a class="text-decoration-none" href="#">Emplacement</a></li>
                            <li class="pb-1"><a class="text-decoration-none" href="#">Affiliations</a></li>
                            <li class="pb-1"><a class="text-decoration-none" href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>

                <!--<div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="">
                        <h6 class="text-info">Catégorie</h6>
                        <ul class="">
                            {# TODO: Lister les catégories de puis la database #}
                            <li class="pb-1"><a class="text-decoration-none" href="#">Homme</a></li>
                            <li class="pb-1"><a class="text-decoration-none" href="#">Femme</a></li>
                            <li class="pb-1"><a class="text-decoration-none" href="#">Enfant</a></li>
                            <li class="pb-1"><a class="text-decoration-none" href="#">Meilleur Produit</a></li>
                            <li class="pb-1"><a class="text-decoration-none" href="#">Nouveaux arrivage</a></li>
                        </ul>
                    </div>
                </div>-->

                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="">
                        <h6 class="text-info">Mo Compte</h6>
                        <ul class="">
                            <li class="pb-1"><a class="text-decoration-none" href="#">Mon Compte</a></li>
                            <li class="pb-1"><a class="text-decoration-none" href="#">Réduction</a></li>
                            <li class="pb-1"><a class="text-decoration-none" href="#">Retour</a></li>
                            <li class="pb-1"><a class="text-decoration-none" href="#">Historique des commandes</a></li>
                            <li class="pb-1"><a class="text-decoration-none" href="#">Suivi des commandes</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="">
                        <h6 class="text-info">Info contact</h6>
                        <ul class="">
                            <li class="pb-1">
                                <svg class="bi bi-geo-alt" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                                  <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                                  <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                </svg>
                                <p class="d-inline"> 15 rue de la Liberté 59600 Maubeuge</p>
                            </li>
                            <li class="pb-1">
                                <svg class="bi bi-envelope" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                                  <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
                                </svg>
                                <a class="text-info" href="contact@cyrcrea.com">contact@cyrcrea.com</a>
                            </li>
                            <li class="pb-1">
                                <svg class="bi bi-phone" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                                  <path d="M11 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h6zM5 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H5z"/>
                                  <path d="M8 14a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                                </svg>
                                <p class="d-inline">+ 33 6 10 20 30 40</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="py-2 border_top_transition">
        <div class="container mt-3">
            <div class="d-flex">
                <div class="col-md-6 mt-3">
                    {% set yearCreation = 2022 %}
                    {% if  yearCreation == 'now' | date('Y') %}
                        <p class="mb-md-0 text-center text-md-left">© {{ 'now' | date('Y') }} - Tous droits réservés</p>
                    {% else %}
                        <p class="mb-md-0 text-center text-md-left">© 2022 - {{ 'now' | date('Y') }} - Tous droits réservés</p>
                    {% endif %}
                </div>

                {# TODO: Obtenir des images de meilleures qualités #}
                <div class="col-md-6">
                    <ul class="list-group list-group-horizontal">
                        <li class="list-group-item bg-primary">
                            <a href="#">
                                <img src={{ asset('images/payment/visa.png') }} alt="visa">
                            </a>
                        </li>
                        <li class="list-group-item bg-primary">
                            <a href="#">
                                <img src={{ asset('images/payment/discover.png') }} alt="discover">
                            </a>
                        </li>
                        <li class="list-group-item bg-primary">
                            <a href="#">
                                <img src={{ asset('images/payment/master_card.png') }} alt="master_card">
                            </a>
                        </li>
                        <li class="list-group-item bg-primary">
                            <a href="#">
                                <img src={{ asset('images/payment/paypal.png') }} alt="paypal">
                            </a>
                        </li>
                        <li class="list-group-item bg-primary">
                            <a href="#">
                                <img src={{ asset('images/payment/amarican_express.png') }} alt="amarican_express">
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</footer>

<a href="#" class="scrollup" style="display: none;"><i class="ion-ios-arrow-up"></i></a>
