{% extends 'account/index.html.twig' %}

{% block content %}
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for address in addresses %}
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="text-center"> Adresse {{ loop.index}} </h4>
                        </div>
                        <div class="card-body">
                            <address class="d-flex flex-column">
                                <span class="mb-1">
                                    <span class="text-muted text-uppercase title">Nom:</span>
                                    <span class="">{{ address.name }}</span>
                                </span>
                                <span class="mb-1">
                                    <span class="text-muted text-uppercase">Société:</span>
                                    <span class="">{{ address.company }}</span>
                                </span>
                                <span class="mb-1">
                                    <span class="text-muted text-uppercase">Adresse:</span>
                                    <span class="">{{ address.address }}</span>
                                </span>

                                {#
                                {% if address.complement is not null %}
                                    <span class="d-flex justify-content-between mb-1">
                                        <span class="fs-6">Complément d'adresse:</span>
                                        <span class="">{{ address.complement }}</span>
                                    </span>
                                {% endif %}
                                #}

                                <span class="mb-1">
                                    <span class="text-muted text-uppercase">Ville:</span>
                                    <span class="">{{ address.city }}</span>
                                </span>
                                <span class="mb-1">
                                    <span class="text-muted text-uppercase">Code Postal:</span>
                                    <span class="">{{ address.postal }}</span>
                                </span>
                                <span class="mb-1">
                                    <span class="text-muted text-uppercase">Téléphone:</span>
                                    <span class="">{{ address.phone }}</span>
                                </span>
                            </address>
                        </div>
                        <div class="card-footer py-3">
                            <div class="btn-group d-flex justify-content-betwee mx-1" role="group" aria-label="Edition addresse">
                                <a href="#"></a>
                              <a href="{{ path('app_address_edit', {'id':address.id}) }}" class="btn btn-sm btn-warning rounded mx-2">Modifier</a>
                              <a href="#" class="btn btn-sm btn-danger rounded">Supprimer</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
{% endblock %}
