{% extends 'compte/index.html.twig' %}

{% block content %}
    <div class="card mb-4">
        <div class="card-header">
            <h3 class="text-center my-3">Détail de votre compte</h3>
        </div>

        <div class="card-body">
            <form method="post" name="enq">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="text-muted text-uppercase">Prénom</label>
                        <input value="{{ details.firstname }}" class="form-control" name="name" type="text" disabled>
                     </div>

                     <div class="form-group col-md-6">
                        <label class="text-muted text-uppercase">Nom</label>
                        <input value="{{ details.lastname }}" class="form-control" name="phone" disabled>
                    </div>

                    <div class="form-group col-md-6 my-3">
                        <label class="text-muted text-uppercase">Email</label>
                        <input value="{{ details.email }}" class="form-control" name="email" type="email" disabled>
                    </div>

                    <hr class="separator">

                    {% for address in addresses %}
                        <div class="col-4 my-3">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="text-center"> Adresse {{ loop.index}} </h4>
                                </div>
                                <div class="card-body">
                                    <address class="d-flex flex-column">
                                        <span class="mb-1">
                                            <span class="text-muted text-uppercase title">Nom:</span>
                                            <span class="">{{ address.name }}</span>
                                        </span>
                                        <span class="mb-1">
                                            <span class="text-muted text-uppercase">Société:</span>
                                            <span class="">{{ address.company }}</span>
                                        </span>
                                        <span class="mb-1">
                                            <span class="text-muted text-uppercase">Adresse:</span>
                                            <span class="">{{ address.address }}</span>
                                        </span>

                                        {% if address.complement is not null %}
                                            <span class="mb-1">
                                                <span class="text-muted text-uppercase">Complément:</span>
                                                <span class="">{{ address.complement }}</span>
                                            </span>
                                        {% endif %}

                                        <span class="mb-1">
                                            <span class="text-muted text-uppercase">Ville:</span>
                                            <span class="">{{ address.city }}</span>
                                        </span>
                                        <span class="mb-1">
                                            <span class="text-muted text-uppercase">Code Postal:</span>
                                            <span class="">{{ address.postal }}</span>
                                        </span>
                                        <span class="mb-1">
                                            <span class="text-muted text-uppercase">Téléphone:</span>
                                            <span class="">{{ address.phone }}</span>
                                        </span>
                                    </address>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                    <hr class="separator my-3">

                    <div class="d-flex justify-content-center">
                        <a class="btn btn-md btn-primary rounded me-1" href="#">Modifier mes informations</a>
                        {# TODO: Créer et lier la possibilité d'effacer son compte client. #}
                        <a class="btn btn-md btn-danger rounded ms-1" href="#" >Effacer mon compte</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        const welcome_card = document.querySelector('#welcome_card')
        welcome_card.classList.add('d-none')
    </script>
{% endblock %}
