<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
      <a class="navbar-brand text-uppercase ms-2" href="#">La Boutique CyrCrea</a>
{#      <img class="d-none d-md-block img-responsive" src="{{ asset('images/logo/dark-logo.png') }}" alt="Logo">#}

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-nav">
          <div class="d-flex me-auto">
              {% if is_granted('ROLE_ADMIN') == true %}
                  <a href="{{ path('admin') }}" class="btn btn-outline-info me-1">
                      <i class="bi bi-speedometer2"></i>
                      Administration
                  </a>
              {% endif %}
              {% if app.user is null %}
                  <div class="nav-item">
                        <a class="btn btn-outline-success" aria-current="page" href="{{ path('app_login') }}"><i
                                    class="bi bi-box-arrow-in-right"></i> Connexion</a>
                    </div>
                  {% else %}
                  <div class="nav-item">
                      <a class="btn btn-danger" href="{{ path('app_logout') }}">
                          <i class="bi bi-box-arrow-right"></i>
                          Déconnexion
                      </a>
                  </div>
              {% endif %}
            </div>
        </div>
  </div>
</nav>

{% if app.user %}
    <div class="bg-light text-dark">
        <div class="navbar-expand-lg navbar-light justify-content-between">
            <nav class="expand-lg navbar-light justify-content-between">
                <div class="collapse navbar-collapse justify-content-between py-2" id="navbarSupportedContent">
                    <ul class="navbar-nav px-2">
                        <li class="dropdown">
                            <a class="nav-link" href="/">Accueil</a>
                        </li>
                        <li class="dropdown">
                            <a class="nav-link" href="#" data-toggle="dropdown">Pages</a>
                        </li>
                        <li class="">
                            <a class="nav-link" href="#" data-toggle="dropdown">Produits</a>

                        </li>
                        <li class="">
                            <a class="nav-link" href="#" data-toggle="dropdown">Boutique</a>

                        </li>
                        <li><a class="nav-link nav_item" href="#">Contact</a></li>
                    </ul>

                    <!-- Form Search -->
                    <div class="col-3">
                        <div class="input-group">
                            <input id="search-product" class="form-control border-end-0 border rounded-pill"
                                   type="search" placeholder="Rechercher un produit" style="font-size: 0.75rem">
                            <span class="input-group-append">
                                <button class="btn btn-outline-secondary border-start-0 border rounded-pill ms-3"
                                        type="button">
                                    <i class="bi bi-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>

                    <!-- Panier -->
                    <div class="flex justify-content-end mx-1">
                        <span class="input-group-append">
                            <a class="btn btn-outline-secondary border-start-0 border rounded-pill"
                               href="#">
                                <i class="bi bi-cart3"></i>
                            </a>
                        </span>
                        <!-- Paramètre du compte -->
                        <span class="input-group-append">
                            <a class="btn btn-outline-secondary border-start-0 border rounded-pill"
                               href="{{ path('app_compte') }}">
                                <i class="bi bi-gear"></i>
                            </a>
                        </span>
                    </div>

                </div>

            </nav>
        </div>
    </div>
{% endif %}
