{% extends 'compte/index.html.twig' %}

{% block content %}
    {% if app.user.addresses is empty %}
        <div class="alert alert-info my-3">
          <p class="lead">
              Vous n'avez pas encore enregistrer d'adresse cliquer sur le bouton ci dessous pour ajouter
              votre première adresse.
          </p>
        </div>
    {% endif %}
    <div id="adresses-client">
          <div class="card">
              <div class="card-header py-0">
                  <div class="d-flex justify-content-between">
                    <h1 class="mt-1">Mes adresses</h1>
                      <a href="{{ path('app_address_new') }}" class="btn btn-primary my-3">
                        Ajouter une adresse
                    </a>
                  </div>
              </div>

              <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                        <tr class="text-center text-primary">
                          <th>Nom</th>
                          <th>Société</th>
                          <th>Adresse</th>
                          <th>Complément</th>
                          <th>Ville</th>
                          <th>CP</th>
                          <th>Pays</th>
                          <th>Téléphone</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for address in addresses %}
                            <tr class="text-center" style="font-size: 12px">
                              <th>{{ address.name }}</th>
                              <td>{{ address.company }}</td>
                              <td>{{ address.address }}</td>
                              <td>
                                  {% if address.complement %}
                                      {{ address.complement }}
                                  {% else %}
                                      <span class="text-muted">Aucun</span>
                                  {% endif %}
                              </td>
                              <td>{{ address.city }}</td>
                              <td>{{ address.postal }}</td>
                              <td>{{ address.country }}</td>
                              <td>{{ address.phone }}</td>
                              <td>
                                  <div class="btn-group d-flex justify-content-between me-1">
                                    <a class="btn btn-sm btn-outline-warning rounded mx-2"
                                       href="{{ path('app_address_edit', {'id':address.id}) }}">
                                        Modifier
                                    </a>
                                      {{ include('adresse/_delete_form.html.twig') }}
                                  </div>
                              </td>
                            </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
              </div>
          </div>
    </div>
{% endblock %}
