<div class="my-4 container">
    <div class="card">
        <div class="card-header">
             <h3 class="text-center text-uppercase">{{ name }}</h3>
        </div>
        <div class="card-body">
            {{ form_start(formAccount) }}
                <div class="row">
                    <div class="form-group col-md-6">
                        {{ form_row(formAccount.firstname) }}
                    </div>

                    <div class="form-group col-md-6">
                        {{ form_row(formAccount.lastname) }}
                    </div>

                    <div class="form-group col-md-6">
                        {{ form_row(formAccount.email) }}
                    </div>

                    <div class="form-group col-md-12">
                        <div class="mb-3">
                            <label
                                class="text-muted text-uppercase form-label required"
                                for="account_details_password">
                                Mot de passe actuel
                            </label>
                            <div class="input-group">
                                <input
                                        id="currentPassword"
                                        class="form-control"
                                        type="password"
                                        name="account_details_password"
                                        placeholder="batman@gotham.dc"
                                        value="{{ app.user.password }}"
                                >
                                <div id="passwordIcon" class="input-group-text" onclick="ShowPassword()">
                                    <svg id="showPassword" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye d-none" viewBox="0 0 16 16">
                                      <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                                      <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                                    </svg>
                                    <svg id="hidePassword" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-slash d-none" viewBox="0 0 16 16">
                                      <path d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7.028 7.028 0 0 0-2.79.588l.77.771A5.944 5.944 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.134 13.134 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755-.165.165-.337.328-.517.486l.708.709z"/>
                                      <path d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829l.822.822zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829z"/>
                                      <path d="M3.35 5.47c-.18.16-.353.322-.518.487A13.134 13.134 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7.029 7.029 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12-.708.708z"/>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                       {{ form_row(formAccount.plainPassword) }}
                    </div>
                </div>

                <div class="py-3">
                    <div class="btn-group d-flex justify-content-between">
                        <button type="submit" class="btn btn-md btn-primary rounded me-1" name="submit" value="Submit">Enregistrer</button>
                        <a href="{{ path('app_compte-detail') }}" class="btn btn-md btn-outline-info rounded ms-1">Retour</a>
                    </div>
                </div>
            {{ form_end(formAccount) }}
        </div>
    </div>
</div>

<script type="text/javascript">
    // Afficher / Cacher le mot de passe
    const password = document.querySelector('#currentPassword');
    const showPasswordIcon = document.querySelector('#showPassword');
    const hiddenPasswordIcon = document.querySelector('#hidePassword');
    const passwordIcon = document.querySelector('#passwordIcon')

    showPasswordIcon.classList.remove('d-none')

    function ShowPassword() {
        if (password.getAttribute('type') === 'password') {
            password.setAttribute("type", "text")
            showPasswordIcon.classList.add('d-none')
            hiddenPasswordIcon.classList.remove('d-none')
        } else {
            password.setAttribute("type", "password")
            showPasswordIcon.classList.remove('d-none')
            hiddenPasswordIcon.classList.add('d-none')
        }
    }
</script>
