{% extends 'base.html.twig' %}

{% block title %} {{ order.reference }} {% endblock %}

{% block body %}

    {{ include('layout/partials/_title_section.html.twig', { name: 'Vos Commandes' }) }}

    <section id="order-card" class="container my-3">
        {% for orderDetail in order.ordersDetails %}
            <div class="card mb-3">
                <div class="card-header">
                    <div class="row">
                        <div class="col-4">
                            <span class="text-uppercase text-muted">Commande effectuée le </span>
                        </div>
                        <div class="col-2">
                            <span class="text-uppercase text-muted">Total </span>
                        </div>
                        <div class="col-3">
                            <span class="text-uppercase text-muted">Adresse de livraison </span>
                        </div>
                        <div class="col-3">
                            <span class="text-uppercase text-muted">N° de commande</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <span>{{ order.createdAt|format_datetime(locale='fr',pattern="dd MMMM YYYY") }}</span>
                        </div>
                        <div class="col-2">
                            <span>{{ (orderDetail.priceTtc / 100) }} €</span>
                        </div>
                        <div class="col-3">
                            <span>{{ orderDetail.orders.user.fullname }}</span>
                        </div>
                        <div class="col-3">
                            <span>{{ order.reference }}</span>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div id="order-delivery" class="d-flex justify-content-between align-items-center">
                            {# TODO: Affiché la date de livraison #}
                            <div class="col-5">
                                <h6 class="fw-bold">Livré : <span>2 juillet 2022</span></h6>
                            </div>
                            <div class="col-3">
                                <a class="button basic" href="#">Suivre mon colis</a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div id="order-products" class="d-flex justify-content-between align-items-center">
                            <div id="order-product-image" class="col-2">
                                <img class="rounded" src="{{ asset('images/bijou/bijou_1.PNG') }}" alt="{{ orderDetail.products.name }}" style="width: 90px">
                            </div>
                            <div id="order-product-description" class="col-7">
                                {# TODO: Lien vers le produit #}
                                <a class="link-order" href="#">
                                    <span class="text-uppercase">{{ orderDetail.products.name }}</span>
                                    - {{ orderDetail.products.description }}
                                </a>
                            </div>
                            <div id="order-actions" class="col-3">
                                <a href="#" class="button basic">Retourner les articles</a>
                                <a href="#" class="button basic">Commenter le produit</a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2"></div>
                            <a href="#" class="button bg-primary"><i class="bi bi-bootstrap-reboot me-2"></i>Acheter à nouveau</a>
                            {# TODO: Lien vers l'article #}
                            {#<a href="{{ path('app_order_show', {reference: orderDetail.products.slug}) }}" class="button basic">Détail de l'article</a>#}
                            <a href="#" class="button basic">Détail de l'article</a>
                        </div>
                    </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-6">
                            {# TODO: Lien vers archives des commandes. #}
                            <a href="#" class="link-order">Archiver ma commande</a>
                        </div>
                        <div class="col-6 d-flex justify-content-end">
                            <a href="{{ path('app_order_index') }}" class="link-order">Retour aux commandes</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock %}
